<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993476856604-6lj95iufit7qnoci2t3b2s95pq8c4nf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993476856604-6lj95iufit7qnoci2t3b2s95pq8c4nf1</string>
	<key>API_KEY</key>
	<string>AIzaSyDseRuUwdeC8DJICzsWDtacbwjDPZlelHI</string>
	<key>GCM_SENDER_ID</key>
	<string>993476856604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.ong2</string>
	<key>PROJECT_ID</key>
	<string>ong3-fa195</string>
	<key>STORAGE_BUCKET</key>
	<string>ong3-fa195.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993476856604:ios:8fed2ddbe1afda063f08d9</string>
</dict>
</plist>